body{
  background-image: url('./bg2.jpg');
}

.navbar{
  background-image: url('./bg2.jpg');
}

.App {
  text-align: center;
  background-color: rgb(105, 9, 9);
  background-image: url('./bg2.jpg');
  
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.self{
  margin-left: 150px;
}

.self-link{
  color:white;
  text-decoration: solid;
}
